<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contractor Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg custom-navbar" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">reCon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Register
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/contractor/register">Contractor</a></li>
                            <li><a class="dropdown-item" href="/user/register">Client</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center my-5">
        <h3>Contractor Registration</h3>
    </div>
    <div class="container d-flex flex-column flex-md-row pb-5">
        <div class="container w-75">
            <h4 class="my-3">Registration</h4>
        
            <form class="row g-3" id="register" method="POST">
                {% csrf_token %}
                <input type="hidden" name="is_contractor" id="r_is_contractor" value="True">
                <div class="">
                    <label class="form-label">Company Name:</label>
                    <input class="form-control" type="text" name="company_name" id="r_company_name"/>
                    <div class="error-message" id="company_name-error"></div>
                </div>
                <div class="">
                    <label class="form-label">Specialization:</label>
                    <input class="form-control" type="text" name="specialization" id="r_specialization"/>
                    <div class="error-message" id="specialization-error"></div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email:</label>
                    <input class="form-control" type="email" name="email" id="r_email"/>
                    <div class="error-message" id="email-error"></div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Mobile Number:</label>
                    <input class="form-control" type="text" name="mobile" id="r_mobile"/>
                    <div class="error-message" id="mobile-error"></div>
                </div>
                <div class="">
                    <label class="form-label">Password:</label>
                    <input class="form-control" type="password" name="password" id="r_password">
                    <div class="error-message" id="password-error"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password:</label>
                    <input class="form-control" type="password" name="cpassword" id="c_password">
                    <div class="error-message" id="cpassword-error"></div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                    <a href="/login" class="btn btn-danger">Cancel</a>
                    <input type="submit" value="Register" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <p>By Jorge Jason Joaquino</p>
    </footer>

    <script>
        $(document).ready(function() {
            $('#register').on('submit', function(e){
                e.preventDefault();

                var c_name = $('#r_company_name').val();
                var r_specialization = $('#r_specialization').val();
                var r_mobile = $('#r_mobile').val();
                var r_email = $('#r_email').val();
                var r_password = $('#r_password').val();
                var c_password = $('#c_password').val();

                $.ajax({
                    type:'POST',
                    url:'{% url "contractors:contractor_process" %}',
                    data: {
                        'company_name': c_name,
                        'specialization': r_specialization,
                        'mobile': r_mobile,
                        'email': r_email,
                        'password': r_password,
                        'cpassword': c_password,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response){
                        console.log(response);
                        if(response.is_valid) {
                            window.location.href='/contractor/dashboard';
                        }
                        else {
                            $('.error-message').empty();
                            for (oneError in response.errors) {
                                console.log(oneError)
                                console.log(response.errors[oneError])
                                if(response.errors.hasOwnProperty(oneError)) {
                                    var error_message = "<ul>" +
                                    "<li style='color:red'>" + response.errors[oneError] + "</li>" +
                                    "</ul>"
                                    $('#' + oneError + '-error').append(error_message)
                                }
                            }
                        }
                    }
                });
            });
        });
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>